<!DOCTYPE html>
<html>
<head>
  <title>Listings</title>
</head>
<body>
  <h1>Listings</h1>

  <a href="/listings/create">Create New Listing</a>
  <br /><br />

  <ul>
    <% listings.forEach(listing => { %>
      <li>
        <a href="/listings/<%= listing.listing_id %>"><strong><%= listing.title %></strong></a> 
        - <%= listing.description %><br />

        <p><strong>Posted by:</strong> <%= listing.name %></p>
        
        Type: <%= listing.type %> |
        Category: <%= listing.category %> |
        Availability: <%= listing.availability %> |
        Zip: <%= listing.zip_code %> |
        Status: <%= listing.status %>
      </li>
      <br />
    <% }) %>
  </ul>

  <a href="/">Back to Home</a>
</body>
</html>